.form {
    position: relative;
    z-index: 1;
    background: var(--admin-login-background, #ffffff);
    padding: 45px 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
        font-family: sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        font-family: sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: var(--admin-primary-button-background, #56bf89);
        color: var(--admin-primary-button-color, #ffffff);
        width: 100%;
        border: 0;
        padding: 15px;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: var(--admin-primary-button-background-active, #56bf89);
        }    
    }
    .message {
        color: var(--admin-message-color, #b3b3b3);
        margin: 15px 0 0;
        font-size: 12px;

        a {
            color: var(--admin-admin-message-link-color, #4caf50);
        }
    }
}
.inline-form {
    padding: 15px 0 0;
}
.inline-form input[type=text] {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 180px;
    border: 1px solid #999;
    margin: 0 5px 15px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 14px;
}